.low-quantity {
  background-color: yellow;
}
// .out-of-stock {
//   background-color: #ff9999;
// }

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.out-of-stock {
  color: red;
}
